@model List<ResultAllBlogWithAuthorsDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

@await Component.InvokeAsync("_MainDefaultLayoutComponentPartial", new { p = "Bloglar"})

<section class="ftco-section">
    <div class="container">
        <div class="row d-flex">
            @foreach(var item in Model)
            {
                <div class="col-md-3 d-flex ftco-animate">
                    <div class="blog-entry justify-content-end">
                        <a href="blog-single.html" class="block-20" style="background-image: url('/carbook-master/images/@item.CoverImageUrl');">
                        </a>
                        <div class="text pt-4">
                            <div class="meta mb-3">
                                <div><a href="#">@item.CreatedDate.ToShortDateString()</a></div>
                                <div><a href="#">@item.AuthorName</a></div>
                                <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 0</a></div>
                            </div>
                            <h3 class="heading mt-2"><a href="#">@item.Title</a></h3>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
