@model List<ResultAllBlogWithAuthorsDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

@await Component.InvokeAsync("_MainDefaultLayoutComponentPartial", new { p = "Bloglar"})

<section class="ftco-section">
    <div class="container">
        <div class="row d-flex">
            @foreach(var item in Model)
            {
                <div class="col-md-3 d-flex ftco-animate">
                    <div class="blog-entry justify-content-end">
                        <img class="block-20" src="~/carbook-master/images/@item.CoverImageUrl" >
                        <div class="text pt-4">
                            <div class="meta mb-3">
                                <div>@item.CreatedDate.ToShortDateString()</div>
                                <div>@item.AuthorName</div>
                                <div><span class="icon-chat"></span> 0</div>
                            </div>
                            <h3 class="heading mt-2"><a href="/Blog/BlogDetail/@item.BlogID">@item.Title</a></h3>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
