@model List<ResultCarWithBrandDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Araba Listesi</h4>
            <div class="table-responsive">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th>Marka</th>
                            <th>Model</th>
                            <th>Vites Türü</th>
                            <th>Km</th>
                            <th>Sil</th>
                            <th>Düzenle</th>
                            <th>Detaylar</th>
                            <th>Özellik Ata</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.BrandName</td>
                                <td>@item.Model</td>
                                <td>@item.Transmission</td>
                                <td>@item.Km</td>
                                <td><a href="/Admin/Car/RemoveCar/@item.CarID" class="btn btn-outline-danger">Sil</a></td>
                                <td><a href="/Admin/Car/UpdateCar/@item.CarID" class="btn btn-outline-dark">Düzenle</a></td>
                                <td><a href="/Admin/CarDetail/Index/@item.CarID" class="btn btn-outline-success">Detaylar</a></td>
                                <td><a href="/Admin/CarDetail/Create/@item.CarID" class="btn btn-outline-info">Özellik Ata</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <a href="/Admin/Car/CreateCar" class="btn btn-outline-secondary">Yeni Ekle</a>
            </div>
        </div>
    </div>
</div>

