@model ResultLocationDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

@await Component.InvokeAsync("_MainDefaultLayoutComponentPartial", new { p = "Araç Kiralama"})

<section class="ftco-section contact-section">
    <div class="container">
        <div class="block-9 mb-md-5">
            <form method="post" class="bg-light p-5 contact-form">
                <div class="form-group">
                    <label>Almak İstediğiniz Araba</label>
                    <input type="text" class="form-control" readonly>
                </div>
                <div class="form-group">
                    <label>Almak İstediğiniz Lokasyon</label>
                    <input type="text" class="form-control" readonly>
                </div>
                <div class="form-group">
                    <label>Teslim Etmek İstediğiniz Lokasyon</label>
                    @Html.DropDownListFor(x=>x.LocationID,(List<SelectListItem>)ViewBag.lv,new {@class="form-control"} )
                </div>
                <div class="form-group">
                    <label>Ad</label>
                    <input type="text" class="form-control" >
                </div>
                <div class="form-group">
                    <label>Soyad</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control">
                </div>
                <div class="form-group">
                    <label>Telefon</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Yaş</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Ehliyet Yılınız</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Eklemek İstedikleriniz...</label>
                    <textarea cols="30" rows="7" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" value="Tamamla" class="btn btn-primary py-3 px-5">
                </div>
            </form>
        </div>
    </div>
</section>

