<head>
    <meta charset="utf-8" />
    <title>Carbook - Admin Yönetim Paneli</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="~/Admin/assets/images/favicon.ico">
    <link href="~/Admin/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Admin/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Admin/assets/css/theme.min.css" rel="stylesheet" type="text/css" />
</head>