@model GetBlogByIdDto

<div class="col-md-8 ftco-animate">
    <h2 class="mb-3">@Model.Title</h2>
    <p>@Model.Description</p>
    <p>
        <img src="~/carbook-master/images/@Model.CoverImageUrl" class="img-fluid">
    </p>


    @await Component.InvokeAsync("_BlogDetailMainTagCloudComponentPartial", new {id = ViewBag.BlogId})
    @await Component.InvokeAsync("_BlogDetailAuthorAboutComponentPartial", new {id = ViewBag.BlogId})

    <div class="pt-5 mt-5">
        @await Component.InvokeAsync("_BlogDetailCommentsComponentPartial", new {id = ViewBag.BlogId})
        @await Component.InvokeAsync("_BlogDetailAddCommentComponentPartial", new {id = ViewBag.BlogId})
    </div>

</div>